<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Datos de cuentas</h2>
    <h3>IBAN: {{iban}}</h3>
    <h3>Balance: {{balance}}</h3>
    <iron-ajax
      auto=""
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
      handle-as="json"
      on-response="showData">
    </iron-ajax>

  <!-- <h3></h3> -->
    <!-- <input type="text" value="{{first_name::input}}"/> -->

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          iban: {
            type: String
          },
          balance: {
            type: Number
          }
        };
      }
      showData(data){
        console.log("showData");
        console.log(data.detail.response[0]);
        this.iban = data.detail.response[0].IBAN;
        this.balance = data.detail.response[0].Balance;
        console.log("iban" + this.iban);
        console.log("saldo" + this.balance);
      }
    }
    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
